<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css"/>
  <title>My profile page</title>
</head>
  <body>
    <div class="main-container-profile">
      <div class="smaller-container-profile">
        <a class="img-home" href="/viewposts"><img src="" alt="home"></a>
        <h4 class="title-myprofile"><%= title %></h4>
        <hr class="hr1">
        <img class="img-profile" src="" alt="myimage">
        <h3 class="myname-up"><%= myname %></h3>
        <h5 class="mystatuses">My statuses:</h4>
      
          <% if (posts.length === 0) { %>
            <p>No posts</p>
          <% } else { %> <% posts.forEach(post => {%>
            <div class="mypost-container">
              <a href="/viewposts/<%=post._id%>"></a>
              <h4 class="username"><%= post.username %></h4>
              <p class="mypost"><%= post.mypost %></p>
              <p class="time"><%= post.time %></p>

              <a href="/viewposts/<%= post._id %>" class="edit"><img src="" alt="edit"></a>
              <a href="/deletePost/<%= post._id %>" class="delete"><img src="" alt="delete"></a>
            </div>
          <%}) %> <% }; %>

        <button class="button-logout"  type="submit"><a class="logout" href="/default">Log out</a></button>
      </div>
    </div>
  </body>
</html>
